@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Maven+Pro:wght@400;700&display=swap&#39');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Maven+Pro:wght@400;700&display=swap&#39');

html {
    background-color: white;

    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
}

body {
    width:40%;
    margin:30%;
    margin-top:0%;
    margin-bottom: 0%;
    background-color: aliceblue;
}

header h1 {
    font-size: 300%;
    text-align: center;
    justify-content: center;
    margin:auto;
    padding-top:5%;
    padding-bottom:5%;
}

#numeros_container {
    display:flex;
    justify-content:space-around;
    margin-bottom:0%;
    margin:1%;
}

.numeros {
    text-align: center;
    background-color: #1aa1f0;;
    border-color: #1aa1f0;

    margin:1%;
    width:15%;
    height:15%;
    font-size:400%;
    font-style: bold;
    padding-top:2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    border-radius: 25%;
    border-style: groove;
    border-width: 0px;
}

fieldset {
    margin:2%;
    margin-bottom:0%;
    border-style: groove;
    border-width: 3px;
    border-radius: 5px;
    border-color: #1aa1f0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
fieldset textarea {
    margin-bottom:2%;
}
fieldset h3 {
    margin:1%;
}

#input_usuario {
    color:black;
    border: groove #1aa1f0;
    border-width: 0px;
    border-bottom-width: 2px;
    background-color: rgba(255, 255, 255, 0);
    padding:2%;
    font-size: 25px;
    margin-bottom:2%;
}


#comprobar {
    color:aliceblue;
    font-size: 25px;
    padding-top:2%;
    padding-bottom: 2%;
    background-color: #1aa1f0;
    border-radius: 5px;
    border-width: 0px;
}

#comprobar:hover {
    background-color: #32aef7;
    cursor:pointer;
}

#user_message_container {
    background-color: #dc143c;
    color: white;
    border-style: groove;
    border-radius: 5px;
    border-width:0px;
    margin:2%;
}

#user_message {
    font-size: 150%;
    padding:1%;
}

#filas_container {
    display:flex;
    flex-direction: column;
}

#filas_container div {
    display:flex;
    justify-content:space-around;
    margin:1%;
    margin-bottom:0%;
}

#filas_container div div {
    width:15%;
    height:15%;
    font-size:400%;
    font-style: bold;
    padding-top:2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    border-radius: 25%;
    border-style: groove;
    border-width: 0px;
}